@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black dark:bg-[#1b1b1c] dark:text-neutral-300
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    position: absolute;
  }
}